html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

input {
  font-size: 12px;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

h4,h5 {
  color: #525454;
}

#sidebar {
  position: fixed;
  background:#fff;
  height:100%;
  width:360px;
  left: -320px;
}

#sidebar.active {
  left: 0px;
  width: 340px;
  overflow-y:scroll;
}

#nav-box {
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 340px;
}

#nav-toggle {
  position: absolute;
  font-size: 16px;
  left: 320px;
  top: 2px;
  width: 40px;
  height: 40px;
}

#nav-toggle.active{
  position: absolute;
  left: 0px;
  top: 2px;
}

#dropdown {
  width:0;
}

#dropdown.active {
  width:90%;
}

#images {
  padding: 10px;
}

#map{
  bottom:0px;
  height: 100%;
  left: 40px;
  position: absolute;
  right: 0px;
}

#map.active{
  left: 340px;
}

